<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortner</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    
        <div class="form-box">
            <form action="/url" method="post">
                <h1>URL Shortner</h1>
                <div class="input-field">
                    <label >Enter your URL</label>
                    <input type="text" name="url" placeholder=<%if(locals.url){%> <%= url %> <%} %>>
                </div>
                <div class="result">
                    <%if(locals.id){%>
                    <p>Your shorted URL = <a href="http://localhost:8001/<%=id%>">http://localhost:8001/<%=id%></a> </p>
                    <%
                    } %>
                </div>
                <div class="btn">
                    <button type="submit">submit</button>
                </div>

            </form>
    </div>
</body>
</html>